body {
  --background-primary: #1e1e1e;   /* fundo principal (editor e preview) */
  --background-secondary: #1e1e1e; /* sidebar, menus */
  --background-secondary-alt: #2d2d2d; /* áreas alternativas */
  --background-modifier-border: #3a3a3a; /* bordas */
  --text-normal: #ffffff;
  --link-color: #4fc1ff;
  --link-color-hover: #82d8ff;
  --link-external-color: #4fc1ff;
  --link-external-color-hover: #82d8ff;
}


.workspace-tab-header-container {
  background-color: #1e1e1e;
}

.titlebar-button-container {
  background-color: #1e1e1e !important;
}

.markdown-preview-view {
  font-size: 16px;
}

.markdown-source-view {
  background-color: rgba(255, 0, 0, 0.1) !important;
}