body {
  background-color: #0d1117;
  color: #c6cdd5;
  margin: 0.5rem auto;
  max-width: 1012px;
  font-family: system-ui, Roboto, 'Helvetica Neue', sans-serif;
  font-size: 16px;
}

a {
  color: #0366d6;
  font-weight: bolder;
  text-decoration: none;
}

.file-list {
  all: unset;
  list-style: none;
}

code {
  display: block;
  overflow-x: auto;
  padding: 1rem;
  background-color: #282c34;
}

/* Telas pequenas */
@media (max-width: 1012px) {
  body {
    max-width: 98%;
  }
}