body {
  background-color: #0d1117;
  color: #c6cdd5;
  margin: 0.5rem auto;
  max-width: 1012px;
  font-family: system-ui, Roboto, 'Helvetica Neue', sans-serif;
}

/* Telas pequenas */
@media (max-width: 1012px) {
  body {
    max-width: 98%;
  }
}